<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="xhmyjae">
    <meta name="description" content="A quizz about Fire Emblem Fates.">
    <title>Fire Emblem Fates Quizz</title>

</head>
<body>

<div>
    <p>PLAY</p>
</div>

<div class="in-game">
    <div class="question-number"></div>
    <div class="question"></div>
    <div class="answers"></div>
</div>

</body>
</html>