<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="xhmyjae">
    <meta name="description" content="A quizz about Fire Emblem Fates.">
    <title>Fire Emblem Fates Quizz</title>

    <link rel="icon" href="../../backend/resources/img3.gif">
    <script src="https://kit.fontawesome.com/74fed0e2b5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../style/main.css">
    <script defer src="../scripts/index.js"></script>
    <script defer src="../scripts/swipe.js"></script>
</head>
<body>

<div class="starting-page">
    <a href="#in-game" class="starting-button">PLAY</a>
</div>

<div id="in-game">
    <form name="quizz" id="quizz">

        <div class="questions question1 hide">
            <div class="question-number">1/8</div>
            <div class="question">
                <img src="../../backend/resources/img1.gif" alt="gif1">
                <div>
                    <p>What is the name of the main character?</p>
                </div>
            </div>
            <div class="answers">
                <label>
                <input type="radio" name="answerQ1" value="correct" id="answer1Q1">
                <span>Corrin</span>
                </label>
                <label>
                <input type="radio" name="answerQ1" value="false" id="answer2Q1">
                <span>Lucina</span>
                </label>
                <label>
                <input type="radio" name="answerQ1" value="false" id="answer3Q1">
                <span>Robin</span>
                </label>
                <label>
                <input type="radio" name="answerQ1" value="false" id="answer4Q1">
                <span>Roy</span>
                </label>
            </div>
        </div>

        <div class="questions question2 hide">
            <div class="question-number">2/8</div>
            <div class="question">
                <img src="../../backend/resources/img2.gif" alt="gif2">
                <div>
                    <p>When was the game first released?</p>
                </div>
            </div>
            <div class="answers">
                <label>
                <input type="radio" name="answerQ2" value="false" id="answer1Q2">
                <span>2013</span>
                </label>
                <label>
                <input type="radio" name="answerQ2" value="false" id="answer2Q2">
                <span>2014</span>
                </label>
                <label>
                <input type="radio" name="answerQ2" value="correct" id="answer3Q2">
                <span>2015</span>
                </label>
                <label>
                <input type="radio" name="answerQ2" value="false" id="answer4Q2">
                <span>2016</span>
                </label>
            </div>
        </div>

        <div class="questions question3 hide">
            <div class="question-number">3/8</div>
            <div class="question">
                <img src="../../backend/resources/img3.gif" alt="gif3">
                <div>
                    <p>How many story path are there?</p>
                </div>
            </div>
            <div class="answers">
                <label>
                <input type="radio" name="answerQ3" value="false" id="answer1Q3">
                <span>2</span>
                </label>
                <label>
                <input type="radio" name="answerQ3" value="correct" id="answer2Q3">
                <span>3</span>
                </label>
                <label>
                <input type="radio" name="answerQ3" value="false" id="answer3Q3">
                <span>1</span>
                </label>
                <label>
                <input type="radio" name="answerQ3" value="false" id="answer4Q3">
                <span>4</span>
                </label>
            </div>
        </div>

        <div class="questions question4 hide">
            <div class="question-number">4/8</div>
            <div class="question">
                <img src="../../backend/resources/img4.gif" alt="gif4">
                <div>
                    <p>Which characters come from the Awakening universe?</p>
                </div>
            </div>
            <div class="answers">
                <label>
                <input type="checkbox" name="answerQ4" value="correct" id="answer1Q4">
                <span>Laslow</span>
                </label>
                <label>
                <input type="checkbox" name="answerQ4" value="correct" id="answer2Q4">
                <span>Odin</span>
                </label>
                <label>
                <input type="checkbox" name="answerQ4" value="correct" id="answer3Q4">
                <span>Selena</span>
                </label>
                <label>
                <input type="checkbox" name="answerQ4" value="false" id="answer4Q4">
                <span>Effie</span>
                </label>
            </div>
        </div>

        <div class="questions question5 hide">
            <div class="question-number">5/8</div>
            <div class="question">
                <img src="../../backend/resources/img5.gif" alt="gif5">
                <div>
                    <p>What is the name of the song Azura is well-known for?</p>
                </div>
            </div>
            <div class="answers">
                <label>
                <input type="radio" name="answerQ5" value="false" id="answer1Q5">
                <span>The Lost Dragon sings in the Dark</span>
                </label>
                <label>
                <input type="radio" name="answerQ5" value="false" id="answer2Q5">
                <span>Embrace the Dark</span>
                </label>
                <label>
                <input type="radio" name="answerQ5" value="correct" id="answer3Q5">
                <span>Lost in Thoughts All Alone</span>
                </label>
            </div>
        </div>

        <div class="questions question6 hide">
            <div class="question-number">6/8</div>
            <div class="question">
                <img src="../../backend/resources/img6.gif" alt="gif6">
                <div>
                    <p>What is the name of the protagonist's son/daughter?</p>
                </div>
            </div>
            <div class="answers">
                <label>
                <input type="radio" name="answerQ6" value="false" id="answer1Q6">
                <span>Forest</span>
                </label>
                <label>
                <input type="radio" name="answerQ6" value="correct" id="answer2Q6">
                <span>Kana</span>
                </label>
                <label>
                <input type="radio" name="answerQ6" value="false" id="answer3Q6">
                <span>Kiragi</span>
                </label>
                <label>
                <input type="radio" name="answerQ6" value="false" id="answer4Q6">
                <span>Hisame</span>
                </label>
            </div>
        </div>

        <div class="questions question7 hide">
            <div class="question-number">7/8</div>
            <div class="question">
                <img src="../../backend/resources/img7.gif" alt="gif7">
                <div>
                    <p>What are the two kingdom's names?</p>
                </div>
            </div>
            <div class="answers">
                <label>
                <input type="checkbox" name="answerQ7" value="correct" id="answer1Q7">
                <span>Hoshido</span>
                </label>
                <label>
                <input type="checkbox" name="answerQ7" value="false" id="answer2Q7">
                <span>Begnion</span>
                </label>
                <label>
                <input type="checkbox" name="answerQ7" value="correct" id="answer3Q7">
                <span>Nohr</span>
                </label>
                <label>
                <input type="checkbox" name="answerQ7" value="false" id="answer4Q7">
                <span>Faerghus</span>
                </label>
            </div>
        </div>

        <div class="questions question8 hide">
            <div class="question-number">8/8</div>
            <div class="question">
                <img src="../../backend/resources/img8.gif" alt="gif8">
                <div>
                    <p>What is the name of the dragon that rules over the Hidden Kingdom of Valla?</p>
                </div>
            </div>
            <div class="answers">
                <label>
                <input type="radio" name="answerQ8" value="false" id="answer1Q8">
                <span>Azura</span>
                </label>
                <label>
                <input type="radio" name="answerQ8" value="false" id="answer2Q8">
                <span>Lilith</span>
                </label>
                <label>
                <input type="radio" name="answerQ8" value="correct" id="answer3Q8">
                <span>Anankos</span>
                </label>
            </div>
            <div class="submit-button">
                <button type="submit" form="quizz" value="Submit">Finish !</button>
            </div>
        </div>

    </form>

    <div class="buttons">
        <div class="previous-button"><i class="fa-solid fa-circle-arrow-left"></i></div>
        <div class="next-button"><i class="fa-solid fa-circle-arrow-right"></i></div>
    </div>

    <div class="score-board">
        <p class="score-text">You got a score of </p>
        <p class="score"></p>
        <p class="score-text">/ 8</p>
    </div>

</div>

</body>
</html>